*{
    box-sizing: border-box;
}

body{
    background-color:#E5E5E5;
}

.container{
    margin-bottom:25px;
    font-family: 'Roboto';
    max-width:480px;
}
.container > div {
    width:480px;
    padding-left:10px;
}

.titulo{
    background-color:#CF2B2B;
    height:92px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    color:white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position:fixed;
    top:0;
    z-index:1;
}

.titulo h1{
    font-family: 'Righteous';
    font-weight:400;
    font-size: 44px;
    margin-bottom:3px;
}

.titulo p{
    font-size: 17px;
    font-family: 'Roboto';
}

.container h3{
    margin-bottom:17px;
    font-family: 'Righteous';
    font-size:26px;
    font-weight: 400;
    color:#333333;
}

.container:first-child{
    margin-top:120px;
}

.container:last-child{
    margin-bottom:3000px;
}

.main-section-produtos{
    margin:100px 0px;
}

.produtos{
    margin-top:27px;
}

.section-produto{
    display:flex;
    overflow:hidden;
    overflow-x: scroll;
    padding-bottom:15px;
}

.produto-content{
    background-color:#FFFFFF;;
    width:172px;
    height:216px;
    border-radius:9px;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    padding: 18px 14px 13px 14px;
    margin-right: 20px;
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;  
    position:relative;  
}

.produto-content img{
    width:144px;
    height:87px;
    border-radius:4px;
    object-fit:cover;
  
}

.nomeproduto{
font-weight:700;
font-size:16px;
}

.descricaoproduto{
    font-size:15px;
    color:#A6A6A6;
    line-height:18px;
}

.preco{
    font-weight:400;
    font-size:16px;
}

.info-pedidos{
    background-color:white;
    height:92px;
    position:fixed;
    bottom:0;
    display:flex;
    justify-content:center;
    align-items:center;
}

.selecionar{
    background-color:#CBCBCB;
    width:364px;
    height:61px;
    display:Flex;
    justify-content:center;
    align-items:center;
    color:#FFFFFF;
    font-size:20px;
    border-radius:50px;
  
}

/* script */
.selecionado {
    border: solid 4px rgb(6, 197, 6);
}

.hidden{
    display:none;
}

ion-icon{
    position:absolute;
    bottom:10px;
    right:10px;
}


.selecionado ion-icon {
    display: flex;
    background-color:rgb(6, 197, 6);
    border-radius:50px;
    color:white;
}


@media (min-width: 768px) and (min-width:1000px){
    .container{
        margin: 0 auto;
        padding-left:10px;
        width: 480px;
    }

 
}

